<section *ngIf="product">
  <div class="sys-container-lg">
      <div class="sys-grid align-i-center">
          <div class="col-md-6">
              <div class="checkout-img">
                  <img src="{{ product.ProductImg }}" alt="" class="img-rwd">
              </div>
          </div>
          <div class="col-md-6">
              <div class="product-deatils">
                  <h3>{{product.ProductName}}</h3>
                  <div>
                      <h2 class="text-accent-90 mb-2">${{product.ProductPrice}}</h2>
                      <!-- <p>
                        {{ product.ProductImg }}
                      </p> -->
                  </div>
                 <div class="flex align-i-center justify-c-between mt-3">
                      <div class="drop w-100">
                          <label for="">Quntity</label>
                          <select name="" id="" class="p-2 w-25">
                              <option value="">1Kg</option>
                              <option value="">1Kg</option>
                              <option value="">1Kg</option>
                              <option value="">1Kg</option>
                          </select>
                      </div>
                      <div class="add">
                          <button class="sys-btn-dark uppercase" type="button" (click)="addToCart(product)">Add to cart</button>
                      </div>
                 </div>
                 <!-- <div class="details mt-3">
                      <h3 class="mb-2 text-secondary">
                          <i class="fa fa-info-circle"></i>  Store Information
                      </h3>
                      <p>
                          Lollipop cake chocolate chocolate cake dessert jujubes. Shortbread sugar plum dessert powder cookie sweet brownie.
                      </p>
                 </div>
                 <div class="details">
                  <h3 class="mb-2">
                     <i class="fa fa-info-circle"></i> Product Information
                  </h3>
                  <table class="w-100 text-left bg">
                      <tbody>
                          <tr>
                              <th>
                                  Specialty
                              </th>
                              <td>
                                  Vegetarian
                              </td>
                          </tr>
                          <tr>
                              <th>
                                  Brand
                              </th>
                              <td>
                                  Lavian Exotique
                              </td>
                          </tr>
                          <tr>
                              <th>
                                  Price
                              </th>
                              <td>
                                  $49.50
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>




<!-- <section *ngIf="personalcare">
  <div class="sys-container-lg">
      <div class="sys-grid align-i-center">
          <div class="col-md-6">
              <div class="checkout-img">
                  <img src="{{ product.ProductImg }}" alt="" class="img-rwd">
              </div>
          </div>
          <div class="col-md-6">
              <div class="product-deatils">
                  <h3>{{personalcare.ProductName}}</h3>
                  <div>
                      <h2 class="text-accent-90 mb-2">${{personalcare.ProductPrice}}</h2>
                      <p>
                        {{ personalcare.ProductCategories }}
                      </p>
                  </div>
                 <div class="flex align-i-center justify-c-between mt-3">
                      <div class="drop w-100">
                          <label for="">Quntity</label>
                          <select name="" id="" class="p-2 w-25">
                              <option value="">1Kg</option>
                              <option value="">1Kg</option>
                              <option value="">1Kg</option>
                              <option value="">1Kg</option>
                          </select>
                      </div>
                      <div class="add">
                          <button class="sys-btn-dark uppercase" type="button" (click)="addToCart3(personalcare)">Add to cart</button>
                      </div>
                 </div>

              </div>
          </div>
      </div>
  </div>
</section> -->
