<div class="sys-container-lg">
  <table class="sys-elevetion-v2">
    <tbody>
        <tr>
            <td *ngFor="let product of products; index as productId" class="bg-light">
                <div class="product-card">
                  <div class="product-img mb-2">
                    <!-- <img src="{{product.ProductImg}}" alt="" class="img-rwd"> -->
                  </div>
                  <div class="pr-minorDetails p-2">
                    <p>
                      {{ product.ProductName }} - ({{ product.ProductCategories }})
                    </p>
                    <p>
                      {{product.ProductBrand}}
                    </p>
                    <p *ngIf="product.ProductDiscription">
                     {{ product.ProductDiscription }}
                    </p>
                   <div class="sys-grid align-i-baseline justify-c-between">
                      <p>
                        <strong>
                          Price: {{product.ProductPrice}}
                        </strong>
                      </p>
                      <a [title]="product.ProductName + ' details'" [routerLink]="['/products', productId]" class="text-dark" >
                        Buy Now
                      </a>
                   </div>
                  </div>
                </div>
            </td>
        </tr>
    </tbody>
  </table>

</div>
