<div class="p-1 bg-accent-70 ps-3">
  <div class="sys-container-lg mt-1">
    <marquee>   <i class="fa fa-map"></i>&nbsp;&nbsp;  <strong>Welcome to QuickCart!</strong> Wrap new offers/gift
      every signle day on Weekends.<strong class="ms-1">
      </strong>
   </marquee>
  </div>
</div>

<mat-toolbar color="primary">

  <span class="text-accent-70"> <img src="../assets/trolley.png" alt="" class="logo"> Quick </span> <span class="text-alert">Cart</span>
  <span class="example-spacer"></span>

  <div class="sys-grid gap-sm me-3 align-i-baseline">
    <div><i class="fa fa-bell text-error-70"></i> </div>
    <div class="cart" [routerLink]="['/cart']"> <i class="material-icons text-alert" matBadge="{{ getRowsValue(null) }}" matBadgeOverlap="false">shopping_cart</i> </div>
  </div>

</mat-toolbar>

<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" >
  <mat-sidenav #drawer (keydown.escape)="close('escape')" disableClose>
    <mat-nav-list>

      <mat-list-item  (click)="close('toggle button')" routerLink="/home">
        🎉
				<span class="full-width" > Home</span>
			</mat-list-item>
      <mat-list-item  (click)="close('toggle button')" routerLink="/allVendors" >
        🧔
				<span class="full-width" > All Vendros</span>
			</mat-list-item>
      <mat-list-item  (click)="close('toggle button')">
        🍿
				<span class="full-width" > Grocery</span>
			</mat-list-item>
      <mat-list-item routerLink="/personalCare">
        🧩
				<span class="full-width" > Personal Care</span>
			</mat-list-item>
      <mat-list-item  (click)="close('toggle button')" routerLink="/personalCare">
        🏡
				<span class="full-width" > Home Care</span>
			</mat-list-item>
      <mat-list-item  (click)="close('toggle button')" routerLink="/personalCare">
        💊
				<span class="full-width" > Health Care</span>
			</mat-list-item>

      <mat-list-item>
				🔓
        <span class="full-width" > Fruits</span>
			</mat-list-item>
			<mat-list-item  (click)="close('toggle button')">
				🔓
				<span class="full-width" > Mobile Covers</span>
			</mat-list-item>

      <mat-list-item  (click)="close('toggle button')">
				🔓
        <span class="full-width" > Apply for Job</span>
			</mat-list-item>
      <mat-list-item  (click)="close('toggle button')">
				💡
				<span class="full-width" > Consumer Complaint </span>
			</mat-list-item>
      <mat-list-item  (click)="close('toggle button')">
        🔔
        <span class="full-width" > Consumer Help </span>
			</mat-list-item>
		</mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <!-- <a [routerLink]="['/']">
        <h1>My Store</h1>
      </a> -->


       <router-outlet>
        <!-- <div *ngIf="message;">
          <h1>{{ message.notification.title }}</h1>
          <h2>{{ message.notification.body }}</h2>
        </div>
        <div *ngIf="!message;">
          No Message Arrived
        </div> -->

       </router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div class="bottom-menu">
  <mat-toolbar-row>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/allVendors" >
      <mat-icon>stores</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</div>





<footer class=" dark-theme">
  <div class="sys-container-lg text-ceter">
      <p class="">
        Powerd by Avenue Design Infotech
      </p>
  </div>
</footer>


