<div class="product-table mb-5 mt-5">
    <div class="sys-container-lg">
      <h2 class="mb-0">Fetured Products</h2>
      <p>Top Categories Of The Week</p>
      <table class="sys-elevetion-v2">
        <tbody>
            <tr>
                <td *ngFor="let data of PriductData.MahadevProducts" class="bg-light">
                    <div class="product-card">
                        <div class="pr-img text-center">
                            <!-- <img src="{{data.prImage}}" alt="" class="img-rwd"> -->
                        </div>
                        <div class="pr-details p-2">
                            <!-- <span class="sys-pin-badge badge-accent" *ngIf="data.status === 'In Stock'">
                              <i>•</i> {{data.status}}
                            </span>
                            <span class="sys-pin-badge badge-error" *ngIf="data.status === 'Out of Stock'">
                              <i>•</i> {{data.status}}
                            </span>
                            <span class="sys-pin-badge badge-alert" *ngIf="data.status === 'Low Stock'">
                              <i>•</i> {{data.status}}
                            </span> -->
                            <p class="mb-1 mt-2">{{data.ProductName}}</p>
                            <p><strong>{{data.ProductBrand}}</strong></p>

                        </div>
                        <div class="pr-action p-1 text-right mt-2 sys-grid justify-c-between align-i-center" >
                            <p class="text-accent-90 mt-2">Rs- {{data.ProductPrice}}</p>
                            <button class="sys-btn-dark" type="button" size="sm"><i class="fa fa-plus"></i> ADD</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
