<div class="search-bar sticky-top mobile_view">
  <div class="sys-container-lg mt-1">
    <div class="sys-row">
      <div class="col-md-12">
        <div class="sys-grid gap-sm align-i-baseline">
          <div class="search-inp w-100 flex align-i-center">
            <input class="form-control searchField" type="text" routerLink="/search" placeholder="Search Quickcart.in"/>
            <i class="fa-solid fa-search searchIcon"></i>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="sys-container-lg mobile_view">
  <div class="sys-grid mt-2 top-scroler align-i-baseline gap-sm">
      <div class="w-100">
          <div class="cate-card-2 p-1 text-center relative">
              <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/grocery.svg" alt="" width="50">
              <p>
                Groceries
              </p>
              <!-- <span class="absolute">🔓</span> -->
          </div>
      </div>
      <div class="w-100">
        <div class="cate-card-2 sys-radius-sm  p-1 text-center relative">
            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/frozen.svg" alt="" width="50">
            <p>
              Helth Care
            </p>
            <!-- <span class="absolute">🔓</span> -->
        </div>
    </div>
    <div class="w-100">
      <div class="cate-card-2 sys-radius-sm  p-1 text-center relative">
          <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/milk.svg" alt="" width="50">
          <p>
            Home Care
          </p>
          <!-- <span class="absolute">🔓</span> -->
      </div>
    </div>
    <div class="w-100">
      <div class="cate-card-2 sys-radius-sm p-1 text-center relative">
          <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="" width="50">
          <p>
            Fruits
          </p>
          <!-- <span class="absolute">🔓</span> -->
      </div>
    </div>
    <div class="w-100">
      <div class="cate-card-2 sys-radius-sm  p-2 text-center relative">
          <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="" width="50">
          <p>
            Personal care
          </p>
          <!-- <span class="absolute">🔓</span> -->
      </div>
  </div>
  <div class="w-100">
    <div class="cate-card-2 sys-radius-sm  p-2 text-center relative">
        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="" width="50">
        <p>
          Vegitables
        </p>
        <!-- <span class="absolute">🔓</span> -->
    </div>
  </div>
  </div>
</div>


<div class="sys-container-lg custom">
  <div class="sys-row">
      <div class="col-md-8 custom-col">
        <div class="radius-sm">
          <carousel>
            <ng-container *ngFor="let item of items">
              <ng-container *carouselItem>
                <div class="item">
                  <img src="https://www.himotto.com/storage/main_banner/images/11628333935.jpg" alt="">
                </div>
              </ng-container>
            </ng-container>
          </carousel>
        </div>
      </div>
      <div class="col-md-4">
        <div class="welcmCard">
          <div class="sys-elevation-v2 bg-light  card sys-radius-sm text-center">
              <img src="https://esskayhomecare.com/img/portfolio/homecare.png" alt="" class="img-rwd">
              <div class="wlcmDetaiuls  p-2">
                  <h2 class="text-alert"><i class="fa-solid fa-cart-shopping"></i> Shopping</h2>
                  <p class="mt-2 mb-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <button type="button" class="sys-btn-outline-alert"  (click)="openBottomSheet()">SHOP NOW <i class="fas fa-arrow-right"></i></button>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>



<div class="sys-container-lg mt-3">
   <div class="h2 mb-4">
      <h2 class="">Hurry Up !!!</h2>
    </div>
    <div class="sys-grid gap-sm">
        <div class="card-tile sys-elevation-v2 p-2 text-center w-100 bg-light sys-radius-lg">
            <a href="tel:82224973413" class="text-olive no-decoration">
              <img src="../../assets/list.png" alt="">
              <p class="text-olive">
                Call on Order
              </p>
            </a>
        </div>
        <div class="card-tile sys-elevation-v2 p-2  text-center w-100 bg-light sys-radius-lg">
          <a href="#"  class="text-accent no-decoration">
            <img src="../../assets/whatsapp (2).png" alt="">
            <p class="text-accent">
              Send your rasan List
            </p>
          </a>
      </div>
    </div>
</div>

<div class="sellers-list mt-3">
  <div class="sys-container-lg">
    <div class="h2">
      <h2 class="">Our Top Sellers</h2>
    </div>
    <div class="sellers flex gap-sm mt-2 mb-4">
      <span class="sys-pin-badge bg-accent-70" routerLink="/mahadevKirana">
        <span class="badge-icon sys-elavation-v3">🛒</span> Mahadev Kirana
      </span>
      <span class="sys-pin-badge bg-accent-70" routerLink="/patleBakery">
        <span class="badge-icon sys-elavation-v3">🛒</span> Patle Bakery
      </span>
      <span class="sys-pin-badge bg-accent-70">
        <span class="badge-icon sys-elavation-v3">🛒</span> Mahadev Kirana
      </span>
      <span class="sys-pin-badge bg-accent-70">
        <span class="badge-icon sys-elavation-v3">🛒</span> Patle Bakery
      </span>
    </div>
  </div>
</div>



<div class="sys-container-lg mt-4">
  <h2 class="mb-0">Browse By Categories</h2>
  <p>Top Categories Of The Week</p>
</div>

<div class="sys-container-lg desktop_veiw">
  <div class="sys-row mt-2">
      <div class="col-md-2">
          <div class="cate-card-1  bg-accent-70 sys-radius-sm  sys-elevation-v2 p-2 text-center relative">
              <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/grocery.svg" alt="" width="50">
              <p>
                Groceries
              </p>
              <span class="absolute">🔓</span>
          </div>
      </div>
      <div class="col-md-2">
        <div class="cate-card-1 sys-radius-sm bg-accent-70 sys-elevation-v2 p-2 text-center relative">
            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/frozen.svg" alt="" width="50">
            <p>
              Helth Care
            </p>
            <span class="absolute">🔓</span>
        </div>
    </div>
    <div class="col-md-2">
      <div class="cate-card-1 sys-radius-sm bg-accent-70 sys-elevation-v2 p-2 text-center relative">
          <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/milk.svg" alt="" width="50">
          <p>
            Home Care
          </p>
          <span class="absolute">🔓</span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="cate-card-1 sys-radius-sm bg-accent-70 sys-elevation-v2 p-2 text-center relative">
          <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="" width="50">
          <p>
            Fruits
          </p>
          <span class="absolute">🔓</span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="cate-card-1 sys-radius-sm bg-accent-70 sys-elevation-v2 p-2 text-center relative">
          <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="" width="50">
          <p>
            Personal care
          </p>
          <span class="absolute">🔓</span>
      </div>
  </div>
  <div class="col-md-2">
    <div class="cate-card-1 sys-radius-sm bg-accent-70 sys-elevation-v2 p-2 text-center relative">
        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" alt="" width="50">
        <p>
          Vegitables & Fruits
        </p>
        <span class="absolute">🔓</span>
    </div>
  </div>
  </div>
</div>




<div class="product-table mb-5 mt-5">
  <div class="sys-container-lg">
    <h2 class="mb-0">Fetured Products</h2>
    <p>Top Categories Of The Week</p>
    <table class="sys-elevetion-v2">
      <tbody>
          <tr>
              <td *ngFor="let data of featuredProduct | filter: searchText; let i = index" class="bg-light">
                  <div class="product-card">
                      <div class="pr-img text-center">
                          <img src="{{data.prImage}}" alt="" class="img-rwd">
                      </div>
                      <div class="pr-details p-2">
                          <span class="sys-pin-badge badge-accent" *ngIf="data.status === 'In Stock'">
                            <i>•</i> {{data.status}}
                          </span>
                          <span class="sys-pin-badge badge-error" *ngIf="data.status === 'Out of Stock'">
                            <i>•</i> {{data.status}}
                          </span>
                          <span class="sys-pin-badge badge-alert" *ngIf="data.status === 'Low Stock'">
                            <i>•</i> {{data.status}}
                          </span>
                          <p class="mb-1 mt-2">{{data.prName}}</p>

                      </div>
                      <div class="pr-action p-1 text-right mt-2 sys-grid justify-c-between align-i-center" >
                          <p class="text-accent-90 mt-2">Rs- {{data.price}}</p>
                          <button class="sys-btn-dark" type="button" size="sm"><i class="fa fa-plus"></i> ADD</button>
                      </div>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>


<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "100644136324974");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v16.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
